
.hero-body-logo {
    align-items: stretch;
}

.hero-body-logo img {
    border: none;
    box-shadow: none;
    max-height:600px;
    min-width:400px;
    max-width:600px;
    height:auto;
    width:auto;

}
 
.content__form {
    font-size: 0.7em;
    margin-top: 1em;
}

a.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 1.75em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
  background-color: #63C35C;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #F9F9F9;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.4em - 1px);
  text-align: center;
  white-space: nowrap;
  margin-left: 2em;
}

a.button:hover {
  color: #4b8bca;
  background-color: #f9f9f9;
}