{{ $items := $.Site.Data.locations }}
{{ $len := (len $items) }}
{{ $.Scratch.Set "classblocks" 0 }}

<h1 class="section__title" id="classes">Now teaching at these locations...</h1>

{{ range $i, $e := $items }}
{{ $.Scratch.Set "classblocks" (add ($.Scratch.Get "classblocks") 1) }}

{{ partial "classhero.html" . }}
{{ if ne ($.Scratch.Get "classblocks") $len }}
    {{ if $.Site.Params.separator.show }}
        {{ partial "separator.html" . }}
    {{ end  }}
{{ end }}


{{ end}}