{{ $reset := resources.Get "css/reset.css" }}
{{ $base := resources.Get "css/base.css" }}
{{ $style := resources.Get "css/style.css" }}
{{ $media := resources.Get "css/media-queries.css" }}
{{ $animations := resources.Get "css/animations.css" }}
{{ $custom := resources.Get "css/custom.css" }}
{{ $bundle := slice $reset $base $style $media $animations $custom | resources.Concat "css/bundle.css" }}

{{ $css := $bundle | resources.Minify }}

<link rel="stylesheet" href="{{ $css.Permalink }}?{{ now.Unix }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet"> 