<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ partial "head/metadata.html" . }}
    {{ partial "head/openGraph.html" . }}
    {{ partial "head/favicons.html" . }}
    {{ partial "head/css.html" . }}
    {{ partial "css/owlCarousel.html" . }}
</head>

<body>
    {{ with .Site.GetPage "/home" }}
    <section id="top" class="hero is-{{ .Site.Params.home.introHeight | default "fullheight" }}">
        <!-- Hero head section to play nice with Bulma -->
        <div class="hero-head"></div>

        <!-- Super sweet Hero body title -->
        <div class="hero-body columns is-desktop is-multiline is-centered">
            <div class="hero-body-logo column is-one-third fade-in two has-text-centered">
                <img class="yoga-logo" src="img/fancysmall.svg">

            </div>
            <div class="column container has-text-centered">
                <!-- Title and tagline -->
                <h1 class="bold-title {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in one{{ end }}">
                    {{ .Title }}
                </h1>
                <div class="subtitle is-3 {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in two{{ end }}">
                    {{ .Content }}
                </div>
                <!-- End title and tagline -->
                <!-- Some social icons -->
                <div class="{{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }}">
                    {{ partial "home/social.html" . }}
                </div>
                <!-- End top social icons -->
            </div>
        </div> <!-- End of Hero body -->
        {{ end }}

        <div class="hero-foot {{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }}">
            <!-- Tell them all about it! -->
            {{ partial "nav.html" . }}
        </div>
    </section> <!-- Done with Hero -->

    {{ with .Site.GetPage "/home" }}
    {{ $home := . }}
    {{ $pages := .Resources.ByType "page" }}

    {{ with .Site.GetPage "/blog" }}
    {{ $pages = $pages | append . }}
    {{ end }}

    {{ with .Site.GetPage "/projects" }}
    {{ $pages = $pages | append . }}
    {{ end }}

    {{ range sort $pages "Params.weight" }}
    {{ if ne .Name "contact.md" }}
    {{ if .File }}
    {{ if eq (os.Stat .File.Dir).Name "projects" }}
    <!-- Now for some cool projects -->
    {{ partial "home/projects.html" . }}
    {{ else if eq (os.Stat .File.Dir).Name "blog" }}
    <!-- Let`s show some blog posts -->
    {{ partial "home/blog.html" . }}
    {{ else }}

    <!-- Range through all sections in /home execept contact.md -->
    <div class="section" id="{{ .File.TranslationBaseName }}">
        <div class="container">
            <h2 class="title is-2 has-text-centered">{{ .Title }}</h2>
            {{ if .Params.Image }}
            <div class="columns">
                <div class="column is-half has-text-centered">
                    {{ with $home.Resources.GetMatch .Params.Image }}
                    {{ with .Resize "420x" }}
                    <img class="img-responsive avatar" src="{{ .Permalink }}" alt="{{ .Name }}">
                    {{ end }}
                    {{ end }}
                </div>
                <div class="markdown column">
                    {{ .Content }}
                </div>
            </div>
            {{ else }}
            <div class="markdown">
                {{ .Content }}
            </div>
            {{ end }}
        </div>
        <!-- End About container-->
        {{ partial "top-icon.html" . }}
    </div>
    <div class="container">
        <hr>
    </div>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
    <!-- Let`s chat, shall we? -->
    {{ with .Resources.GetMatch "contact.md" }}
    <div class="section" id="{{ .File.TranslationBaseName }}">
        <div class="container has-text-centered">
            <h2 class="title is-2">{{ .Title }}</h2>
            <div class="markdown">
                {{ .Content }}
            </div>
            {{ if .Site.Params.home.localTime }}
            <p>{{ i18n "index_currentTime" . }} <span id="time" data-time-zone="{{ .Site.Params.home.timeZone }}" data-time-format="{{ .Site.Params.home.timeFormat }}"></span>.</p>
            {{ end }}
            {{ with .Site.Params.email }}
            <h2 class="subtitle is-4 has-text-centered top-pad">
                <a href="mailto:{{ . }}">{{ . }}</a>
            </h2>
            {{ end }}
            {{ partial "home/social.html" . }}

            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup {
                    clear: left;
                }

                #mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; transition: all 0.23s ease-in-out 0s; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:1.2em; font-weight: normal; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}

                #mc_embed_signup label {font-weight: bold;}
                /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <style type="text/css">
                #mc-embedded-subscribe-form input[type=checkbox] {
                    display: inline;
                    width: auto;
                    margin-right: 10px;
                }

                #mergeRow-gdpr {
                    margin-top: 20px;
                }

                #mergeRow-gdpr fieldset label {
                    font-weight: normal;
                }

                #mc-embedded-subscribe-form .mc_fieldset {
                    border: none;
                    min-height: 0px;
                    padding-bottom: 0px;
                }
                #mc_embed_signup .button {
                    background-color: #63C35C;
                    font-size: 1em;
                } 
                #mc_embed_signup .button:hover {
                    background-color: #4b8bca;
                    font-size: 1em;
                }     
            </style>
            <div id="mc_embed_signup">
                <form action="https://kimsellis.us16.list-manage.com/subscribe/post?u=65fa1e93f0f327bfd39550cd4&amp;id=5399e395ca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <h2>Join the mailing list</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-FNAME">First Name </label>
                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-LNAME">Last Name </label>
                            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                        </div>
                        <div class="mc-field-group size1of2">
                            <label for="mce-MMERGE4">Phone Number </label>
                            <input type="text" name="MMERGE4" class="" value="" id="mce-MMERGE4">
                        </div>
                        <div class="mc-field-group size1of2">
                            <label for="mce-BIRTHDAY-month">Birthday </label>
                            <div class="datefield">
                                <span class="subfield monthfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month"></span> /
                                <span class="subfield dayfield"><input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day"></span>
                                <span class="small-meta nowrap">( mm / dd )</span>
                            </div>
                        </div>
                        <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                            <div class="content__gdpr">
                                <label>Marketing Permissions</label>
                                <p>Please select all the ways you would like to hear from Kim Sellis Yoga:</p>
                                <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                                    <label class="checkbox subfield" for="gdpr_23059"><input type="checkbox" id="gdpr_23059" name="gdpr[23059]" value="Y" class="av-checkbox "><span>Email</span> </label><label class="checkbox subfield" for="gdpr_23067"><input type="checkbox" id="gdpr_23067" name="gdpr[23067]" value="Y" class="av-checkbox "><span>Customized Online Advertising</span> </label>
                                </fieldset>
                                <p class="content__form">You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
                            </div>
                            <div class="content__gdprLegal content__form">
                                <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
                            </div>
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65fa1e93f0f327bfd39550cd4_5399e395ca" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>
                (function($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                    fnames[4] = 'MMERGE4';
                    ftypes[4] = 'phone';
                    fnames[3] = 'BIRTHDAY';
                    ftypes[3] = 'birthday';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
            </script>
            <!--End mc_embed_signup-->

        </div>
        <!-- End Contact container -->
        {{ partial "top-icon.html" . }}
    </div>
    <div class="container">
        <hr>
    </div>
    {{ end }}
    <!-- End Contact section -->
    {{ end }}

    {{ partial "footer/text.html" . }}

    <!-- End of fade in three section -->
    {{ partial "footer/scripts.html" . }}
    {{ partial "js/owlCarousel.html" . }}

    {{ if .Site.Params.home.localTime }}
    {{ $momentjs := resources.Get "vendor/momentjs/moment.min.js" }}
    {{ $momentTimezone := resources.Get "vendor/momentjs/moment-timezone.min.js" }}
    {{ $momentTimezoneWithData := resources.Get "vendor/momentjs/moment-timezone-with-data-2012-2022.min.js" }}
    {{ $initMomentjs := resources.Get "js/initMoment.js" }}
    {{ $bundleMoment := slice $momentjs $momentTimezone $momentTimezoneWithData $initMomentjs | resources.Concat "js/bundleMoment.js" | fingerprint }}
    <script src="{{ $bundleMoment.Permalink }}" integrity="{{ $bundleMoment.Data.Integrity }}"></script>
    {{ end }}
</body>

</html>
